
.navbar {
    background-image: linear-gradient(to right,#2852A2,#4DB4AE);
    
}
.navbar a{
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.navbar-brand {
    padding-left: 17%;
}

.navbar-nav {
    padding-right: 17%;
}

.content {
    
}

.view-content {
    background-image: url(course-detail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 641px;
    display: flex;
 
    align-items: center;
    text-align: center;
  
}

.judul-view h1 {
    font-style: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: white;
    padding-bottom: 2%;

}

.judul-view p{
    font-style: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-bottom: 5%;
}

.judul-view a{
    font-style: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #E07C05;
    padding: 12px 60px;
   
}

.judul-view a:hover{
    background-color: #E07C05;
}


.content-course {
    padding-left: 5%;
    padding-right: 5%;
}

.judul-course {
    text-align: center;
}
.judul-course h4 {
    font-style: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color:  #36414d;

    padding-top: 5%;
    padding-bottom: 2%;
}

.judul-course p {
    font-style: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:  #36414d;

    padding-bottom: 10%;
}

.judul-list h4{
    font-style: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color:  #36414d;
    text-align: center;
    padding-bottom: 2%;
}


.list-group-item {
    background-color:#F0F0F0 ;
}



.btnkecil {
    float: right;
    background-color: #E8B67B;
    font-style: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: white;
}

.list-group {
    padding-bottom: 2%;
}

.reason-content{
    padding-top: 5%;
    padding-bottom: 5%;

}

.reason-content h1{
    font-style: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #36414d;
}

.reason-content p{
    font-style: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #36414d;
}


.btn {
   
    justify-content: center;
    align-items: center;
}

footer {
    background-image: linear-gradient(to left,#2852A2,#4DB4AE);
    padding-bottom: 2%;
    padding-top: 2%;
}

.footer1 a{
  justify-content: center;
  color: white;
  
}
