.navbar {
    background-image: linear-gradient(to right,#2852A2,#4DB4AE);
  
}

.navbar-brand {
    padding-left: 10%;
}

.navbar-nav {
    padding-right: 10%;
    

}

.kepala{

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 101;

}

.course-filter {
    padding-top: 5px;
    padding-left: 15px;
    background: #fff;
    padding-right: 16px;
    padding-bottom: 6px;
    border-radius: 20px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}

input.form-control.search {
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
    font-size: 17px;
    height: 45px;
    padding-left: 18px;
}

.course-listing .course-listing-title {
    color: #3B8C9B;
    line-height: 25px;
    padding: 16px 16px 4px 16px;
    font-weight: bold;
    font-size: 18px;
    max-height: 65px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.progressbar {
    width: 100%;
    border-radius: 99px;
    -moz-border-radius: 99px;
    -webkit-border-radius: 99px;
    margin-top: 15px;
    text-align: right;
    font-size: 0.7em;
    height: 15px;
    line-height: 40px;
    padding: 0px;
    background: #e6e6e6;
}

.progressbar .progressbar-fill {
    float: left;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 99px;
    -webkit-border-bottom-left-radius: 99px;
    -moz-border-radius-topleft: 99px;
    -moz-border-radius-bottomleft: 99px;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    border-radius: 99px;
    -moz-border-radius: 99px;
    -webkit-border-radius: 99px;
    background-color: #E07C04;
    text-align: left;
    height: 15px;
    background: #E07C04;
}

.course-listing .course-access-limit {
    font-size: 12.642px;
    line-height: 19px;
    color: #72bcca;
    padding-top: 10px;
}

@media (min-width: 0px) and (max-width: 767px){
.course-listing .course-listing-subtitle {
    margin-bottom: 70px;
    max-height: 85px;
    min-height: 85px;
    -webkit-line-clamp: 4;
}
}

.course-listing .course-listing-subtitle {
    color: #72bcca;
    padding: 5px 16px;
    font-weight: 200;
    font-size: 14px;
    max-height: 45px;
    min-height: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.course-listing .course-listing-extra-info {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    padding: 16px;
    position: absolute;
    width: 100%;
}

@media (min-width: 0px) and (max-width: 767px){
.course-listing .course-listing-extra-info {
    position: relative;
}
}

.course-listing .course-listing-extra-info .course-bundle {
    line-height: 30px;
    font-size: 15px;
    font-weight: 200;
}

.course-listing .course-listing-subtitle {
    color: #72bcca;
    padding: 5px 16px;
    font-weight: 200;
    font-size: 14px;
    max-height: 45px;
    min-height: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media (min-width: 0px) and (max-width: 767px){
.course-listing .course-listing-subtitle {
    margin-bottom: 70px;
    max-height: 85px;
    min-height: 85px;
    -webkit-line-clamp: 4;
}
}

.course-listing .course-access-limit {
    font-size: 12.642px;
    line-height: 19px;
    color: #72bcca;
    padding-top: 10px;
}

.course-listing .course-listing-enrolled {
    padding-bottom: 100px;
}

@media (min-width: 0px) and (max-width: 767px){
.course-listing .course-box-image-container {
    max-height: none !important;
}
.course-listing .course-box-image-container {
    overflow: hidden;
    max-height: 208px;
}
}

.course-listing .course-box-image-container .course-box-image {
    display: block;
    margin: auto;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid #ededed;
    width: 100%;
}
@media screen and (max-width: 767px){
.footer-column {
    margin-bottom: 20px;
}
}

footer .footer-column {
    text-align: center;
}

.pagination {
    background: #fff;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #3B8C9B;
}

.pagination {
    display: inline-block;
    padding-left: 0px;
    margin: 20px 0px;
    border-radius: 4px;
}

.pagination .current, .pagination a:hover {
    background: #E07C04;
    color: #fff;
}

.pagination .previous_page, .pagination .current, .pagination a {
    padding: 12px 20px 10px 20px;
    display: inline-block;
    border-right: 1px solid #dee8e9;
    margin-right: -4px;
}


.hidden {
    display: none !important;
    visibility: hidden !important;
}

.course-listing .course-listing-extra-info .course-progress {
    color: #E07C04;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
}

.course-listing .course-listing-extra-info .course-price {
    color: #da7b0a;
    font-size: 15px;
    font-weight: bold;
    max-width: 120px;
    padding-top: 5px;
}

.view-directory .search {
    margin-bottom: 30px;
}

input.form-control {
    padding: 5px 10px;
    height: 40px;
    font-weight: 200;
    margin-bottom: 14px;
    transition: all 0.3s ease;
    box-shadow: none;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.nav-item  {
    padding-right: 15px;
}


.navbar-nav a{
    color: white;
    font-family: 'Raleway',sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;


}

.navbar-nav a:hover{
    color: #347B89;
}


.navitem a{
    color: black;
}

.content {
    padding-top: 50px;
}


.judula {
    color: #E07C05;
}

.input-group {
   display: flex;
   justify-content: right;
}

.content-atas {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #989898;
}

.card-list {
    margin:auto;
    padding: 1%;
}

.course-listing {
    background-color: #f7f7f7;
    box-shadow: 0px 1px #f6e6d3;
    border: 1px solid #f6e6d3;
    padding: 0px;
    border-radius: 9px;
    cursor: pointer;
    margin-bottom: 50px;
    height: 390px;
    position: relative;
}


.content-list {
    margin-bottom: 5%;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
}

.progress {
    margin-bottom: 10%;
}

.card-title {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #3b8c9b ;
}

.detail-card {
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size: 15px;
    line-height: 30px;
    color: black;
   
}

.course-progress {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #E07C05;
}

footer {
    background-image: linear-gradient(to right,#2852A2,#4DB4AE);
    padding-bottom: 3%;
    padding-top: 3%;
}

.footer1 a{
  justify-content: center;
  color: white;
  
}

@media (min-width: 0px) and (max-width: 767px){
.course-listing {
    height: auto !important;
}
}
@media (min-width: 0px) and (max-width: 767px){
.course-listing {
    height: auto !important;
}
}