@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
  
*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  
 
}


a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
  }


ul {
    list-style-type: none;
}

footer {
    
    background-color: #0C162A;
    color: #eaeaea;
    
}

.listatas {
   padding-top: 3.7%;
   display: flex;
}

.listatas p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #eaeaea;

 }

.menu-link {
    font-size: 14px;
    color: #eaeaea;

}

.menu-link:hover{
    text-decoration: none;
    color: #e48800;
}


.sosmed-logo a{
    color: #eaeaea;  

}

.sosmed-logo a:hover{
    color: #307775;
}

.sosmed-logo li{
   display: inline-block;
}

.site-footer {
    padding-left: 12%;
    padding-right: 12%;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    padding-bottom: 3%;

}

.site-footer a{
    color: #eaeaea;

}

.site-footer a:hover{
    color: #e48800;
}

.hr {
    border: 1px solid #333333;
}
.box-form{
    background :url(box-suite.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 15%;
    padding-bottom: 20%;
    
}
.box-form h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #0b162b;
    padding-bottom: 7%;
}

.box-form p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    line-height: 26px;
    padding-bottom: 7%;
   
}
















